@charset 'UTF-8';
@import 'bourbon';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';

@import 'base/reset';
@import 'base/typography';
@import 'base/global';

@import 'components/loader';
@import 'components/navbar';
@import 'components/slide-nav';
@import 'components/buttons';
@import 'components/hamburguer';
@import 'components/maps';
@import 'components/tooltips';

@import 'layout/footer';
@import 'layout/novedades-slide';
@import 'layout/product-slide';
@import 'layout/cards';
@import 'layout/woocommerce';
@import 'layout/experience';

@import 'pages/page-home';
@import 'pages/concesionarios';
@import 'pages/financiamiento';
@import 'pages/page-contacto-ok';

.bk-home--video {
    .bk-video__title {
        font-size: 1.6rem !important;
    }
}

/* .bk-block-container {
    //max-width: 90% !important;
} */

.bk-menu-social {
    display: none;

    @include MQ(M) {
        display:block;
        position: absolute;
        right: 0;
        top: 250px;
        z-index: 1000000;
    }
}

.wpostahs-centent {
    p {
        min-height: 200px;
    }
}

.bk-fixed-nav {
    display: none;

    @include MQ(M) {
        position: relative;
        z-index: -1;
    }
}

.bk-show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
}

.owl-icons {
    margin-bottom: 0px;
    color: $white;
    .owl-dots {
        bottom: -10px;
        left: 0px;
    }
}

.pright0 {
    padding-right: 0px;
    @include MQ(600px) {
        padding-right: 15px;
    }
}

#btn-hide {
    float: right;
}

.hide-detail {
    display: none;
    @include MQ(M) {
        display:block;
    }
}

.bk-high--icon {
    &__img {
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    &__txt {
        font-size: 11px !important;
    }
}

$colors: asistencia_embrague,
euro_3,
euro_4,
frenos_abs,
inyeccion_electronica,
control_traccion,
ram_air,
control_partida,
quick_shift,
sistema_antirrobo,
easy_start;
$path: '../img/';
$file: '.png';

@each $color in $colors {
    .#{$color} {
        background: url($path + $color + $file) no-repeat;
        background-size: contain;
        //color: invert($color);
    }
}

.soopas-swatches .swatch-color {
    border: 2px solid $brand-grey !important;
}

.reset_variations {
    display: none !important;
}

.bk-high--container {
    overflow-y: hidden;
    max-height: 290px;
    transition: all 1s ease-in-out;
}

.bk-high--active {
    max-height: 100%;
}

.bk-swhich {
    background: $ligth-grey;
    display: none;
    @include MQ(M){
        display: block;
    }
}

.attachment-woocommerce_thumbnail {
    @media screen and (max-width: 767px) {
        padding: 0;
    }
}

.bk-ces-buscador {
    position: relative;
    height: 80vh;

    &--item {
        @include center(y);
    }
}

.bk-promo-img {
    height: auto !important;
}

.wpostahs-slider-design-1 .wpostahs-slider-nav-title .wpostahs-main-title img {
    width: 100%;
    height: auto;
}

.wpostahs-slick-slider .slick-prev {
    left: -40px !important;
}

.wpostahs-slick-slider .slick-next {
    right: -30px !important;
}

img.w-100 {
    height: auto !important;
}

$items: engie,
moto,
protección,
nieve,
viento,
lluvia,
montaña,
nublado,
noche,
sol;

@each $item in $items {
    .bk-#{$item} {
        @extend %bk-icon;
        background: url('../img/'+$item+'.png') no-repeat center center;
    }
}

#autofinModal {
    .modal-dialog{
        @include MQ(L){
            width: 1100px;
            min-width: 1100px;
            max-width: 1100px;
            height: 740px;
            min-height: 740px;
            max-height: 740px;
            margin-top: 10px;
        }
    }
}
.ytplayer-player{
    width: 100% !important;
    height: 320px !important;
    @include MQ(S){
        height: 420px !important;
    }
    @include MQ(M){
        height: 520px !important;
    }
    @include MQ(L){
        height: 720px !important;
    }
    @include MQ(XL){
        height: 930px !important;
    }
}
.bk-360-embed{
    overflow: hidden;
    width: 100% !important;
    height: 400px !important;
    @include MQ(S){
        height: 700px !important;
    }
}
#formulario_cotizar{
    #boton_enviar{
        padding: 10px 2px;
        @include MQ(S){
            padding: 10px 20px;
        }
    }
    .caja_nota_concesionario{
        font-weight: $font-bold;
    }
    .woocommerce form .form-row .required{
        visibility: visible !important;
    } 
}
.bk-cot--card__content--cuote.autofin-evaluate .autofin-container .cae {
    font-weight: 900;
    color: #092841;
}
.bk-cot--card__content--cuote.autofin-evaluate .autofin-container .price {
    font-weight: 900;
    font-size: 24px;
    color: #41b451;
}
.bk-cot--card__content--cuote.autofin-evaluate .autofin-container {
    width: 70%;
    margin: 10px auto;
    background: #ddd;
    padding: 5px;
}
.caja_opcion_financiar{
    display: none;
}
.social-menu-bar{
    a{
        font-size: 24px;
    }
}
.noEsunaClase{
    bottom: 0;
}
.boton {
    width: 22%;
    float: left;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}