.bk--btn {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    transition: .2s ease-in-out all;
    cursor: pointer;
    color: $white !important;

    &__black {
        background: $dark-grey;
        border: 1px solid $dark-grey;

        &:hover {
            color: $dark-grey !important;
            background: $white;
            border: 1px solid $ligth-grey;
        }
    }

    &__primary{
        background: $brand-primary-color;
        //transform: skew(-12deg);
        border-radius: 40px;
        border: 1px solid $brand-primary-color !important;
        position: relative;
        z-index: 4;
        &:hover {
            color: $brand-primary-color !important;
            background: $white;
        }
    }

    &__line{
        //transform: skew(-12deg);
        border-radius: 40px !important;
        border: 1px solid $white !important;
        &:hover {
            color: $brand-primary-color !important;
            background: $white;
        }
    }

    &__small {
        padding: 5px 10px;
        margin: 0 0 0 12px;
    }
    &__bg-none{
        background: $white !important;
        color: $brand-primary-color !important;
        &:hover{
            background: $brand-primary-color !important;
            color: $white !important;
            border: 1px solid $brand-primary-color !important;
        }
    }
    &__dark{
        background: $brand-second-color;
        border-color: $brand-second-color !important;
        margin-top: 15px !important;
        &:hover{
            border-color: $brand-primary-color !important;
            a{
                color: $brand-primary-color !important;
            }
        }
        a{
            color: white;
            &:hover{
                color: $brand-primary-color !important;
            }
        }
    }
}

.bk-search{
    &--input{
        //min-width: 420px;
        &__btn{
            position: relative;
            left: -10px;
        }
    }
}

.bk-button--rounded{
	line-height: .5 !important;
	padding: 14px !important;
	border-radius: 50% !important;
	margin: 0 !important;
	&.added{
		font-size: 10px !important;
		line-height: 1.1 !important;
	}
}