.bk-home{
    &--events{
        &--nav{
            background: $ligth-grey;
            &__title{
                font-weight: $font-bold;
                margin: 0;
                padding: 5px 0;
            }
            &__link{
                background: $dark-grey;
                &-btn{
                    color: $white;
                    &:hover{
                        color: $ligth-grey;
                    }
                }
            }
        }
        &__cards{
            margin-bottom: 20px;
            &--container{
                padding: 0;
            }
            & .bk-loop-card--content{
                padding: 10px;
            }
        }
        & .bk-loop-card{
            border: 1px solid #DCDDE1;
        }
    }
    &--dojo{
        color: $white;
        background: $brand-grey url('../img/home-dojo.jpg') no-repeat center;
        background-size: cover;
        border-top: 50px solid $ligth-grey;
        border-bottom: 50px solid $ligth-grey;
        clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0% 100%, 0 0, 50% 5%);
        &__mask{
            background: $dark-grey;
            position: relative;
            margin-top: -50px;
            height: 50px;
            z-index: -1;
        }
        &__hr{
            border-color: $white;
        }
    }
    &--external{
        background: $dark-grey;
        padding: 40px;
    }
}
.bk-home--events__first{
    .bk-loop-card--header{
        max-height: 350px !important;
        overflow: hidden;
    }
}

.bk-img-responsive{
    width: 100%;
    padding: 20px;
}
.bk-home--dojo__cat{
    display: none;
    @include MQ(S){
        display: block;
    }
}