.bk-footer{
    background: $brand-second-color;
    color: $white;
    line-height: 17px;
    &--menu{
        background: $brand-third-color;
        display: none;
        @include MQ(L){
          display: flex;
        }
        .footer-nav-link{
            color: $white !important;
            &:hover{
                color: $brand-primary-color !important;
            }
        }
    }
    &__img{
        max-height: 60px;
    }
    &--copy{
        a{
            color: $medium-grey;
        }
    }
}

.bk-footer--logos.text-center img {
    padding: 10px;
}
// .footer-nav-item{
//     width: 14.2%;
//   }