.bk-loop--novedades{
	background: linear-gradient(to bottom, $brand-primary-color 0%,$brand-primary-color 50%,$brand-primary-color 50%,$white 50%,$white 100%);
	
	&__slider{
		text-align: center;
		&-txt{
			margin: 25px auto;
			color: $brand-grey;
		}
		&-title{
			color: $brand-second-color;
			//max-width: 90%;
			@include MQ (S){
				color: $white;
			}
		}
		&-img{
			width: 100%;
			//max-width: 90%;
		}
		& .bk--btn{
				color: $white;
				border-color: $white !important;
		}
	}
	.carousel-item--contenedor {
		overflow: hidden;
		max-height: 480px;
	}
	.carousel-indicators {
		& li{
			background: $ligth-grey;
			height: 5px;;
			border-radius: 25%;
		}
		& .active{
			background: $brand-primary-color;
		}
	}
	
	.carousel-control-next, 
	.carousel-control-prev{
		margin-top: -12%;
	}
	.carousel-control-prev{
		justify-content: flex-start;
	}
	.carousel-control-next{
		justify-content: flex-end;
	}
}