.bk-loop--productos {
    background: url('../img/home-carousel-bg.png') no-repeat center center;
    background-size: cover;
    padding: 20px 0;
	//text-shadow: 3px 1px 4px rgba(150, 150, 150, 1);
    @include MQ(L) {
		background-size: contain;
    }
    &__slider {
		text-align: center;
        &-txt {
            position: relative;
            //top: -30px;
            @include MQ(L) {
                //top: -70px;
            } //color: $white;
        }
        &-img {
            /*             width: 100%;
            max-width: 90%;
            @include MQ(L) {
                max-width: 70%;
            }
            @include MQ(XL) {
                max-width: 90%;
            } */
        }
        &-title {
            color: $brand-primary-color !important;
            font-weight: $font-extra-bold;
			margin: 0;
			font-size: 2rem;
            @include MQ(L) {
                font-size: 2.5rem;
            }
        }
        .product-price-tickr{
            color: $brand-grey !important;

        }
    }
    .carousel-indicators {
        bottom: -50px;
        & li {
            background: $ligth-grey;
            height: 5px;
            border-radius: 25%;
        }
        & .active {
            background: $brand-primary-color;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        margin-top: -12%;
    }
    .carousel-control-prev {
        justify-content: flex-start;
    }
    .carousel-control-next {
        justify-content: flex-end;
    }
    .carousel-inner > .carousel-item.active,
    .carousel-inner > .carousel-item-next {
        @include MQ(M){
            display: flex;
            flex-wrap: nowrap;
            width: auto;
        }
    }
    .bk-siblings {
        opacity: 0;
        @include MQ(M){
            opacity: .2;
        }
    }
    .bk-one {
        opacity: 1 !important;
    }
}

.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 7px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: $brand-primary-color;
}