.bk-dealer {
    &--row {
        min-height: 60vh;

       /*  @include MQ(L) {
            max-height: 80vh;
        } */

        &-item {
            overflow-y: scroll;
        }
    }

    .post-type-archive-concesionarios &--content {
        display: none;
    }

    &--card {
        &__img {}

        &__txt {
            padding: 20px;
        }
    }

    &--detail {
        li.nav-item {
            width: 30%;
            margin-right: 1%
        }
    }

    &--icon {
        font-size: 56px;
        color: $brand-primary-color;
    }

    &--select{
        position: relative;
        display: block;
        width: 220px;
        height: 45px;
        line-height: 3;
        overflow: hidden;
        margin: 0 auto;
        &::after{
            content: '\25BC';
            color: $brand-primary-color;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 0 1em !important;
            background: $brand-second-color;
            pointer-events: none;
            transition: .25s all ease;
        }
        &:hover::after{
            color: $white;
        }
    }

}

.cn-service-icon {
    width: 33.333%;

    &::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
    }
}

.cn-Venta {
    &::before {
        background: url('../img/venta.png') no-repeat center center;
        background-size: contain;
    }
}

.cn-Servicios {
    &::before {
        background: url('../img/servicios.png') no-repeat center center;
        background-size: contain;
    }
}

.cn-Repuestos {
    &::before {
        background: url('../img/repuestos.png') no-repeat center center;
        background-size: contain;
    }
}

.bk-distribuidores li {
    padding: 5px 0;
    text-align: left;
}

.bk-marker {
    color: $brand-grey;
}

.marker.active {
    transition: ease-in-out all .5s;
    background: $ultra-ligth-grey;
    overflow: hidden;
    height: 90px;

    &::before {
        transition: ease-in-out all .5s;
        content: "";
        width: 5px;
        height: 100%;
        display: block;
        background: $brand-primary-color;
        float: left;
        margin-right: 5px;
    }

    .bk-marker h4 {
        color: $brand-primary-color;
    }
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 16px;

    @include MQ(M) {
        width: 6px !important;
    }

    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba($dark-grey, .3);
    background-color: $ligth-grey;
}

.pills-navigation {
    .nav-pills .nav-link {
        &.active {}
    }

    .nav-link.active {
        background: $brand-second-color !important;

        &:hover {
            color: $white !important;
        }
    }

    li.nav-item {
        text-align: center;
        transform: skew(-12deg);
        background: $ultra-ligth-grey !important;
        margin-right: 6px;
    }

}

.bk--title {
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
}
.barra-buscador {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding-top: 25px;
    padding-bottom: 25px;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.form-control {
    
}

.form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 0.8rem;
    border: none;
    padding: 14px 30px;
}

.cesmapcontainer {
    opacity: 0;
    background-color: rgba(191, 191, 191, 0.1);
    margin-bottom: 80px;
    padding: 25px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.ces-dealer--map {
    height: 500px;
}

.bk-distribuidores li {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
    margin-bottom: 5px;
}
.bk-dealer--select::after {
    content: '\25BC';
    color: #9EA4AC;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0px 1em;
    background: #2B303D;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#searchsubmit {
    background-color: #495057;
}

.is-open {
    left:0;
}

.opacity1 {
    opacity: 1;
}

