.bk-financiamiento{
	@include MQ(S){
		position: relative;
		top: -45px;
	}
}
.bk-financiamiento-bg{
	background: url('../img/bk-financiamiento-bg.jpg') no-repeat;
	background-size: contain;
}