.grey-box {
    background-color: rgba(240,240,240,0.3);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 1px 1px 5px rgb(240, 240, 240);
    .ty02-txt {
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(230, 230, 230);
        padding-top: 10px;
    }
    .ty01-txt {
        font-weight: bold;
        padding-top: 10px;
    }
    strong {font-weight: bold}
    .link-concesionaria {font-size: 18px;padding-top:20px}
    .icon-red {color:#dc3545}
}