.bk-home{
    &--search{
        background: url('../img/home-search-bg.png') top center;
        background-size: cover;
        min-height: 500px;
        &__content{
            min-height: 500px;
        }
        &__icons{
            font-size: 3em;
        }
        &__form{
            min-width: 90%;
            @include MQ(M){
                min-width: 450px;
            }
        }
    }
    &--video{
        background-size: cover;
        padding-top:40px;
        @include MQ(M){
        }
        @include MQ(XL){
        }
        &__img{
            
        }
        &__icon{
            position: relative;
            @include center();
        }
    }
    &--promo{
        &__card{
            position: relative;
        }
        &__content{
            color: $white;
            text-transform: uppercase;
            width: 90%;
            transition: .3s all ease-in-out;
            @include centerer;
            & img{
                padding-bottom: 10px;
            }
        }
        &__link{
            &:hover{
                .bk-home--promo__content{
                    color: $brand-primary-color;
                }
                figure img{
                    filter: grayscale(80%) blur(2px);
                }
            }
            & figure img{
                filter: grayscale(0) blur(0);
                transition: .3s ease-in-out;
            }
        }
    } 
}

.bk-home--promo__content figure img {
	filter: grayscale(0) blur(0);
	transition: .3s ease-in-out;
}
.bk-home--promo__content figure:hover img {
	filter: grayscale(100%) blur(3px);
}
