.bk-event--loop{
    margin: 0;
    & p{
        margin: 2px 0;
    }
    &:nth-child(odd){
        .bk-event--loop__info{
            background: $ligth-grey;
        }
        .bk-event--loop__date{
            background: $dark-grey;
        }
    }
    &__info{
        background: $ultra-ligth-grey;
        font-weight: $font-bold;
        &--title{
            color: $dark-grey;
            font-weight: $font-extra-bold;
            padding: 4px 0;
        }
        &--content{

        }
    }
    &__date{
        background: $medium-grey;
        color: $white;
        font-size: 34px;
        font-weight: $font-bold;
        padding-top: 20px;
    }
}

.bk-section{
    margin-top: 40px;
    margin-bottom: 40px;
}

.bk-loop-card{
    border: 1px solid $ligth-grey;
    &--header{
        max-height: 130px;
        overflow: hidden;
    }
    &--content{
        padding: 10px;
    }
}

.bk-category-loop--img{
    display: none;
    @include MQ(S){
        display: block;
    }
}